body {
   background-color: rgb(255, 243, 206);
}

#titulo{

   width: 1350px;
   height: 400px;
  
   position: absolute;
   left: 0%;
   top: 20%;
   font-family: Arial;
   color: rgb(0);
   font-size: 60px;
   font-weight: 900;
   
}

#backgroundTitulo{
   
   width: 1350px;
   height: 220px;
   background-image: url(wood.png);
}

#menu{

   background-color: rgb(0, 0, 0);
   width: 1324px;
   font-family: Calibri;
   position: absolute;
   left: 1%;
   top: 5%;
   color: rgb(255, 255, 20);
   font-size: 30px;
   font-weight: 900;
}

a:link, a:visited {
   text-decoration: none;
   color: rgb(255, 255, 20)
   
}
a:hover {
   text-decoration: none; 
   color: rgb(255, 0, 0)
}
a:active {
   text-decoration: none
}

#text1{

   LINE-HEIGHT:30px;
   width: 550px;
   height: 200px;
  
   position: absolute;
   left: 10%;
   top: 40%;
   font-family: Arial;
   color: rgb(0);
   font-size: 20px;
   font-weight: 0;

}

#text3{

   LINE-HEIGHT:30px;
   width: 550px;
   height: 200px;
  
   position: absolute;
   left: 100%;
   top: 40%;
   font-family: Arial;
   color: rgb(0);
   font-size: 20px;
  
}

#toTOP{
   position: absolute;
   left: 10%;
   top: 538%;
}
a.glyphicon:link, a.glyphicon:visited{
      
   position: absolute;
   left: 10%;
   top: 550%;
   color: rgb(0, 0, 255);
}

a.glyphicon:hover{
   text-decoration: underline;
}


#img2{
   position: absolute;
   top: 45%;
   left: 80%;
}

#img5{
   position: absolute;
   top: 187%;
   left: 90%;
}

#img6{
   position: absolute;
   top: 360%;
   left: 59%;
}

#img7{
   position: absolute;
   top: 370%;
   left: 135%;
}

#img10{
   position: absolute;
   top: 540%;
   left: 66%;
}

#img11{
   position: absolute;
   top: 684%;
   left: 65%;
}


#img12{
   position: absolute;
   top: 605%;
   left: 150%;
}

#img14{
   position: absolute;
   top: 868%;
   left: 84%;
}

#img16{
   position: absolute;
   top: 1021%;
   left: 84%;
}

#img18{
   position: absolute;
   top: 1167%;
   left: 84%;
}

#img19{
   position: absolute;
   top: 1335%;
   left: 50%;
}

a.glyphicon2:link, a.glyphicon2:visited{
      
   position: absolute;
   left: 10%;
   top: 1640%;
   color: rgb(0, 0, 255);
}

a.glyphicon2:hover{
   text-decoration: underline;
}

a.glyphicon3:link, a.glyphicon3:visited{
      
   position: absolute;
   top: 1200%;
   color: rgb(0, 0, 255);
}

a.glyphicon3:hover{
   text-decoration: underline;
}

a.glyphicon4:link, a.glyphicon4:visited{
      
   position: absolute;
   top: 2300%;
   left: 15%;
   color: rgb(0, 0, 255);
}

a.glyphicon4:hover{
   text-decoration: underline;
}

a.glyphicon5:link, a.glyphicon5:visited{
      
   position: absolute;
   top: 250%;
   left: 0%;
   color: rgb(0, 0, 255);
}

a.glyphicon5:hover{
   text-decoration: underline;
}